body {
    background-image: url("../images/front-page-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Asap', sans-serif;
    margin: 0px;
    padding: 0px;
}


/*NAVBAR*/

#top-navbar-spacer {
    height: 40px;
}

#navbar {
    background: white;
    margin: auto;
    float: right;
    margin-right: 40px;
    padding: 2px;
}

#navbar a {
    font-weight: 700;
    width: 100%;
    height: 100%;
    padding: 10px;
}